@{
    ViewData["Title"] = "Home Page";
}
<div class="col-lg-10 align-self-end" style="margin:auto;">
    <h1 class="text-uppercase text-white font-weight-bold">Take your strongman quiz and test your knowlegde!!</h1>
    <hr class="divider my-4" />
</div>
<div class="col-lg-8 align-self-baseline" style="margin:auto;">
    <p class="text-white-75 font-weight-light mb-5">Create an account and test your strongman knowledge on a variety of quizzes created by teachers</p>
    <a class="btn btn-primary btn-xl js-scroll-trigger" asp-area="Identity" asp-page="/Account/Register">Let's go</a>
</div>
