
@model ICollection<StrongQuiz.Models.ViewModel.Leaderboard_VM>


@{ 
    int counter = 1;
    foreach(var scoreQuiz in Model)
    {
    <tr>
        <td>
            @counter
        </td>
        <td>
            @scoreQuiz.Username
        </td>
        <td>
            @scoreQuiz.Score / @scoreQuiz.MaxScore
        </td>
    </tr>
    counter++;
    }



}
