@model ICollection<StrongQuiz.Models.ViewModel.Leaderboard_VM>
    <div class="container">
        <table id="socreboard" class="table striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Score</th>
                </tr>

            </thead>
            <tbody>
                <partial name="~/Views/Shared/_PartialLeaderboard.cshtml" model="@Model" />

            </tbody>
        </table>
    </div>