@model StrongQuiz.Models.Models.Quiz
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a asp-action="StartQuiz" asp-route-QuizId="@Model.Id">Start the quiz</a>